CONFIG_DEFAULT_HOSTNAME="andes-test"
CONFIG_PLAT_AE350=y

CONFIG_ANDES_CACHE=y
CONFIG_ANDES_DMA_NONCOHERENT=y
CONFIG_ANDES_PPMA=y
CONFIG_RISCV_ISA_ZICBOM=y
CONFIG_RISCV_PMU=y

CONFIG_FTMAC100=y
CONFIG_MMC_FTSDCG=y
CONFIG_MMC_FTSDC=y
CONFIG_ATCDMAC300G=y
CONFIG_ATCDMAC300=y
CONFIG_PLATFORM_AHBDMA=y

CONFIG_PWM=y
CONFIG_PWM_ATCPIT100=y

CONFIG_I2C=y
CONFIG_I2C_BOARDINFO=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_ATCIIC100=y
CONFIG_ATCIIC_IRQ=y

CONFIG_GPIO_ATCGPIO100=y

CONFIG_FB_FTLCDC100=y
CONFIG_PANEL_AUA036QN01=y
CONFIG_FFB_MODE_RGB=y
CONFIG_FFB_MODE_16BPP=y

CONFIG_SND_FTSSP010=y
CONFIG_SND_FTSSP010_AC97=y

CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_ATCRTC100=y

CONFIG_ANDES_ATCSMU=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_CORE=y
CONFIG_ATCWDT200_WATCHDOG=y

CONFIG_SPI=y
CONFIG_SPI_ATCSPI200=y
CONFIG_MTD=y
CONFIG_MTD_SPI_NOR=y
