# SPDX-License-Identifier: GPL-2.0
# Copyright (C) 2023 Andes Technology Corporation.

menu "Andes AE350 platform drivers"

config ANDES_CACHE
	bool "Andes L1 & L2 cache controller"
	depends on RISCV && PLAT_AE350
	help
	  Support for the Andes L1 & L2 cache controller on AE350 platforms.

config ANDES_PPMA
	bool "Andes PPMA Support"
	depends on RISCV && PLAT_AE350
	help
	  When calling memremap with MEMREMAP_WC flag,
	  Andes programmable physical memory attributes (PPMA)
	  can map memory as non-cacheable bufferable PMA region.
endmenu
